In [2]:
#1. a) Import pandas under the name pd. 
import pandas as pd

In [91]:
#1.  b) Print the version of pandas that has been imported. 
import pandas as pd
print(pd.__version__)

2.2.2

In [ ]:
#1. c) Print out all the version information of the libraries that are required by the pandas library.
import pandas as pd
pd.show_versions()

In [26]:
#2. a)
from cProfile import label
import pandas as pd
import numpy as np

data={'animal':['cat','cat','snake','dog','dog','cat','snake','cat','dog','dog'],
      'age':[2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3],
      'visits':[1,3,2,3,2,3,1,1,2,1],
      'priority':['yes','yes','no','yes','no','no','no','yes','no','no']}

df= pd.DataFrame(data)
df

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

In [ ]:
#b
df.info()

In [ ]:
#c
print(df.head(3))

In [ ]:
#d
print(df[['animal','age']])

In [ ]:
#e
print(df.loc[['d','e','i'],['animal','age']])

In [ ]:
#f
print(df[df['visits']>3])

In [ ]:
#g
print(df[df['age'].isna()])

In [ ]:
#h
print(df[(df['age']>=2)&(df['age']<=4)])

In [ ]:
#i
ttl_visits=df['visits'].sum()
print(ttl_visits)

In [ ]:
#j
df.loc['k']=['dog',5.5,2,'yes']
print(df)
#print(df.loc['k'])
df=df.drop('k')
print("\n")
print(df)

In [ ]:
#k
df['priority']=df['priority'].map({'yes':True,'no':False})
print(df)

In [10]:
#3
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
row_means = df.mean(axis=1)
normal_df = df.sub(row_means, axis=0)

print(normal_df)

      A
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0
5   0.0
6   0.0
7   0.0
8   0.0
9   0.0
10  0.0

In [8]:
#4 a
import pandas as pd
import numpy as np

business_days_2015 = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(business_days_2015)), index=business_days_2015)
print(business_days_2015)
print(s)
wed_sum=s[s.index.weekday==2].sum()
print("Sum of the values in s for every Wednesday:",wed_sum)

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')
2015-01-01    0.127278
2015-01-02    0.182377
2015-01-05    0.953321
2015-01-06    0.480625
2015-01-07    0.242781
                ...
2015-12-25    0.483280
2015-12-28    0.469731
2015-12-29    0.388171
2015-12-30    0.992897
2015-12-31    0.633775
Freq: B, Length: 261, dtype: float64
Sum of the values in s for every Wednesday: 26.325484991736438

In [15]:
#b
wed_sum=s[s.index.weekday==2].sum()
print("Sum of the values in s for every Wednesday:",wed_sum)

Sum of the values in s for every Wednesday: 26.325484991736438

In [3]:
#c
monthly_means=s.resample('M').mean()
print("Mean values for each calendar month:\n",monthly_means)

Mean values for each calendar month:
 2015-01-31    0.464018
2015-02-28    0.541115
2015-03-31    0.388825
2015-04-30    0.495861
2015-05-31    0.489294
2015-06-30    0.456276
2015-07-31    0.522086
2015-08-31    0.540702
2015-09-30    0.522451
2015-10-31    0.500828
2015-11-30    0.586055
2015-12-31    0.548979
Freq: ME, dtype: float64

C:\Users\SivaPrakashSelvaraj\AppData\Local\Temp\ipykernel_4956\1650744987.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_means=s.resample('M').mean()

In [12]:
#d
date_index = pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU')
print(date_index)

DatetimeIndex(['2015-01-15', '2015-02-19', '2015-03-19', '2015-04-16',
               '2015-05-21', '2015-06-18', '2015-07-16', '2015-08-20',
               '2015-09-17', '2015-10-15', '2015-11-19', '2015-12-17',
               '2016-01-21', '2016-02-18', '2016-03-17', '2016-04-21',
               '2016-05-19', '2016-06-16', '2016-07-21', '2016-08-18',
               '2016-09-15', '2016-10-20', '2016-11-17', '2016-12-15'],
              dtype='datetime64[ns]', freq='WOM-3THU')

In [25]:
#5 #a
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
   'Budapest_PaRis', 'Brussels_londOn'], 
   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085], 
   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]], 
   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
   '12. Air France', '"Swiss Air"']}) 

df['FlightNumber']=df['FlightNumber'].interpolate().astype(int)
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [37]:
#b
temp_df=df['From_To'].str.split('_',expand=True)
temp_df.colums=['From','To']
df=df.drop(columns=['From_To']).join(temp_df)
print("DataFrame after splitting 'From_to' column:\n",df)

DataFrame after splitting 'From_to' column:
    FlightNumber  RecentDelays              Airline         0          1
0         10045      [23, 47]               KLM(!)    LoNDon      paris
1         10055            []    <Air France> (12)    MAdrid      miLAN
2         10065  [24, 43, 87]  (British Airways. )    londON  StockhOlm
3         10075          [13]       12. Air France  Budapest      PaRis
4         10085      [67, 32]          "Swiss Air"  Brussels     londOn

C:\Users\SivaPrakashSelvaraj\AppData\Local\Temp\ipykernel_4956\2093855539.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  temp_df.colums=['From','To']

In [38]:
#c
df['Airline']=df['Airline'].str.extract(r'([A-Za-z\s]+)', expand=False).str.strip()
print("DataFrame after cleaning Airline column:\n",df)

DataFrame after cleaning Airline column:
    FlightNumber  RecentDelays          Airline         0          1
0         10045      [23, 47]              KLM    LoNDon      paris
1         10055            []       Air France    MAdrid      miLAN
2         10065  [24, 43, 87]  British Airways    londON  StockhOlm
3         10075          [13]       Air France  Budapest      PaRis
4         10085      [67, 32]        Swiss Air  Brussels     londOn

In [73]:
#6
letters=['A','B','C']
numbers=list(range(10))
index=pd.MultiIndex.from_product([letters,numbers],names=['letters','numbers'])
s=pd.Series(np.random.randn(len(index)),index=index)
print(s)

letters  numbers
A        0          2.691976
         1         -0.713221
         2          0.234851
         3         -1.415409
         4          0.580614
         5          0.938913
         6          0.272063
         7          0.775195
         8         -0.655773
         9         -1.221108
B        0          0.259803
         1         -0.885682
         2         -0.691509
         3         -0.502881
         4         -0.619490
         5          0.698216
         6         -2.748936
         7          0.849444
         8         -0.340947
         9          0.397533
C        0         -1.928431
         1          1.534614
         2          0.823108
         3          0.283879
         4          1.409252
         5          0.572819
         6         -0.983354
         7         -0.551824
         8          0.433578
         9         -0.362012
dtype: float64

In [48]:
#a
s_labels=s.loc[(slice(None),[1,3,6])]
print("Selected Labels 1,3 and 6 from second level:\n",s_labels)

Selected Labels 1,3 and 6 from second level:
 letters  numbers
A        1          1.341451
         3          0.612201
         6          1.400794
B        1          0.345810
         3          0.386341
         6          1.311460
C        1         -4.221497
         3         -0.300064
         6         -0.979240
dtype: float64

In [49]:
#b
sliced_series=s.loc[:'B',5]
print("Sliced series:\n",sliced_series)

Sliced series:
 letters  numbers
A        5         -0.628525
B        5          0.497288
dtype: float64

In [52]:
#c
sum_by_level1=s.groupby('letters').sum()
print("Sum of values for each label in first level:\n",sum_by_level1)

Sum of values for each label in first level:
 letters
A    -0.116495
B     0.778949
C   -10.373692
dtype: float64

In [55]:
#7
lst=list(input("Enter list elements:"))
tup=tuple(input("Enter tuple elements:"))
dic={'name':'Siva','age':21,'City':'Chennai'}

x=pd.Series(lst)
y=pd.Series(tup)
z=pd.Series(dic)
print("list:",lst)
print("List in pandas Series:\n",x)
print("tuple:",tup)
print("Tuple in pandas Series:\n",y)
print("dictionary:",dic)
print("Dictionary in pandas Series:\n",z)

list: ['1', '2', '3', '4']
List in pandas Series:
 0    1
1    2
2    3
3    4
dtype: object
tuple: ('5', '6', '7', '8')
Tuple in pandas Series:
 0    5
1    6
2    7
3    8
dtype: object
dictionary: {'name': 'Siva', 'age': 21, 'City': 'Chennai'}
Dictionary in pandas Series:
 name       Siva
age          21
City    Chennai
dtype: object

In [62]:
#8
def create_series(series_list):
    series_list=pd.Series(series_list)
    return series_list

name=create_series(['Siva','Saranya','Sri'])
age=create_series([21,19,21])
location=create_series(['Chennai','Chennai','Chennai'])

x={'Name':name,
    'Age':age,
    'Location':location}

df=pd.concat(x,axis=1)
df

      Name  Age Location
0     Siva   21  Chennai
1  Saranya   19  Chennai
2      Sri   21  Chennai

In [67]:
#9
lst1=list(input("Enter list 1 elements:"))
lst2=list(input("Enter list 2 elements:"))

s1=pd.Series(lst1)
s2=pd.Series(lst2)

print("Series 1:")
print(s1)
print("Series 2:")
print(s2)

print("\nItems of Series 1 that are not present in Series 2:")
print(s1[~s1.isin(s2)])

Series 1:
0    1
1    2
2    3
3    4
4    5
dtype: object
Series 2:
0    3
1    4
2    5
3    6
4    7
dtype: object

Items of Series 1 that are not present in Series 2:
0    1
1    2
dtype: object

In [69]:
#10
lst1=list(input("Enter list 1 elements:"))
lst2=list(input("Enter list 2 elements:"))

s1=pd.Series(lst1)
s2=pd.Series(lst2)

print("Series 1:")
print(s1)
print("Series 2:")
print(s2)

union=pd.Series(np.union1d(s1,s2))
intersect=pd.Series(np.intersect1d(s1,s2))

n=union[~union.isin(intersect)]
print(n)

Series 1:
0    1
1    2
2    3
3    4
4    5
dtype: object
Series 2:
0    4
1    5
2    6
3    7
4    8
dtype: object
0    1
1    2
2    3
5    6
6    7
7    8
dtype: object

In [78]:
#11
lst=list(input("Enter list elements:"))
s=pd.Series(lst)
res=s.nunique()
print("Count of Unique values in the series:",res)

Count of Unique values in the series: 5

In [ ]:
#12
import pandas as pd
import numpy as np

s = pd.Series(np.random.random(20))
s_binned = pd.qcut(s, q=[0, 0.10, 0.20, 0.30, 0.40, 0.50, 0.60, 0.70, 0.80, 0.90, 1])
print(s_binned.head())

In [80]:
#13
lst1=list(input("Enter list 1 elements:"))
lst2=list(input("Enter list 2 elements:"))

s1=pd.Series(lst1)
s2=pd.Series(lst2)

print("Series 1:")
print(s1)
print("Series 2:")
print(s2)

df_horizantal=pd.concat([s1,s2],axis=1)
print("Horizontal:")
print(df_horizantal)

df_vertical=pd.concat([s1,s2],axis=0)
print("Vertical:")
print(df_vertical)

Series 1:
0    1
1    2
2    3
3    4
dtype: object
Series 2:
0    5
1    6
2    7
3    8
dtype: object
Horizontal:
   0  1
0  1  5
1  2  6
2  3  7
3  4  8
Vertical:
0    1
1    2
2    3
3    4
0    5
1    6
2    7
3    8
dtype: object

In [82]:
#14
s=pd.Series(['siva','saranya','sri'])
print("Original Series:")
print(s)
ns=s.map(lambda x:x[0].upper()+x[1:])
print("\nUppercase Series:")
print(ns)

Original Series:
0       siva
1    saranya
2        sri
dtype: object

Uppercase Series:
0       Siva
1    Saranya
2        Sri
dtype: object

In [84]:
#15
lst1=[1,2,3,4,5]
s1=pd.Series(lst1)

print("Series 1:")
print(s1)

ds=s1.diff()
print("\nDifference of differences for consecutive numbers in the given series:")
print(ds)

Series 1:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Difference of differences for consecutive numbers in the given series:
0    NaN
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [5]:
#16
import numpy as np
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1)) 
print("Oridinal DataFrame:")
print(df)
np.fill_diagonal(df.values,0)
np.fill_diagonal(np.fliplr(df.values),0)
print("\nModified DataFrame:")
print(df)

Oridinal DataFrame:
    0   1   2   3   4   5   6   7   8   9
0   9  12  62  51  10  54  17  27  78  57
1  81  78  55  64  37  42  63   5  78  15
2  83  71  68   2  26  46  93  11  11  47
3   5  49  11  68  54  96  40  57  28  41
4  20  99  90  72  82   5  91  37  42  16
5   1  52  56  33  69   6  64  30  23  72
6  24  45  32  62  11  23  84  79  94  20
7  19  91   6  27  41  61  92  62  58  24
8   9  19  79  27  19  95  49  93  59  83
9  18  32   6  43  81  91  57  33  16  38

Modified DataFrame:
    0   1   2   3   4   5   6   7   8   9
0   0  12  62  51  10  54  17  27  78   0
1  81   0  55  64  37  42  63   5   0  15
2  83  71   0   2  26  46  93   0  11  47
3   5  49  11   0  54  96   0  57  28  41
4  20  99  90  72   0   0  91  37  42  16
5   1  52  56  33   0   0  64  30  23  72
6  24  45  32   0  11  23   0  79  94  20
7  19  91   0  27  41  61  92   0  58  24
8   9   0  79  27  19  95  49  93   0  83
9   0  32   6  43  81  91  57  33  16   0

In [94]:
#17
raw_data_1 = { 
    'subject_id': ['1', '2', '3', '4', '5'], 
    'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
    'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']} 

raw_data_2 = { 
    'subject_id': ['4', '5', '6', '7', '8'], 
    'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
    'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']} 

raw_data_3 = { 
    'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'], 
    'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]} 

data1=pd.DataFrame(raw_data_1)
data2=pd.DataFrame(raw_data_2)
data3=pd.DataFrame(raw_data_3)

In [105]:
#a
all_data=pd.concat([data1,data2],axis=0)
print(all_data)

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [107]:
#b
all_data_col=pd.concat([data1,data2],axis=1)
print(all_data_col)

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

In [108]:
#c
merge_alldata_data3= pd.merge(all_data,data3,on='subject_id',how='outer')
print(merge_alldata_data3)

   subject_id first_name last_name  test_id
0           1       Alex  Anderson     51.0
1          10        NaN       NaN     61.0
2          11        NaN       NaN     16.0
3           2        Amy  Ackerman     15.0
4           3      Allen       Ali     15.0
5           4      Alice      Aoni     61.0
6           4      Billy    Bonder     61.0
7           5     Ayoung   Atiches     16.0
8           5      Brian     Black     16.0
9           6       Bran   Balwner      NaN
10          7      Bryce     Brice     14.0
11          8      Betty    Btisan     15.0
12          9        NaN       NaN      1.0

In [111]:
#d
merge_data1_data2= pd.merge(data1,data2,on='subject_id',how='inner')
print(merge_data1_data2)

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

In [112]:
#e
merge_data1_data2= pd.merge(data1,data2,on='subject_id',how='outer')
print(merge_data1_data2)

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black
5          6          NaN         NaN         Bran     Balwner
6          7          NaN         NaN        Bryce       Brice
7          8          NaN         NaN        Betty      Btisan