In [ ]:
#1
import pandas as pd
import numpy as np
import datetime as dt
import geopy.distance
import pyodbc
from sqlalchemy import create_engine

#Getting csv file and converting the values into datetime fomrat
df =pd.read_csv('Q1.csv')
df['Start Time']=df['Start Time'].astype('datetime64[ns]')
df['End Time']=df['End Time'].astype('datetime64[ns]')

#finding the duration and storing it in the Duration column
df['Duration']=(df['End Time']-df['Start Time']).dt.total_seconds().astype(int)

#checking the weekends and storing the values in is_weekend columns
df['is_weekend']=df['Start Time'].dt.day_of_week.isin([5,6]).astype(int)

#checking the hour of the day and storing it in the column hour_of_the_day
df['hour_of_the_day']=df['Start Time'].dt.hour

#finding the distance between start and end coordinates (latitude and longitude) and soring it in the distance column
def cal_distance(row):
    start=(row['Start Latitude'],row['Start Longitude'])
    end=(row['End Latitude'],row['End Longitude'])
    return geopy.distance.geodesic(start,end).kilometers
df['distance']=df.apply(cal_distance,axis=1)

#connecting to sql server and loading the output as sql table
server = 'SS-SQL-01'
database = 'Intern2024'
username = 'B2024_SSelvar1'
password = 'Bazinga_02'

cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
df.to_sql('Final',con= engine, if_exists='replace',index=False)
cnxn.close()

In [18]:
df.dtypes

age     object
name    object
dtype: object

In [30]:
#7
import pandas as pd

data = {
    'measure_name': ['name', 'age', 'name', 'age', 'name', 'age'],
    'measure_value': ['sanjay', '23', 'ram', '45', 'som', '34']
}

df = pd.DataFrame(data)

names = df[df['measure_name'] == 'name']['measure_value'].reset_index(drop=True)
ages = df[df['measure_name'] == 'age']['measure_value'].reset_index(drop=True)

result_df = pd.concat([names, ages], axis=1,ignore_index=True)
result_df.columns = ['name', 'age']
result_df=result_df.to_string(index=False)

print(result_df)

  name age
sanjay  23
   ram  45
   som  34

In [31]:
#3
import pandas as pd
import pyodbc
import sqlalchemy

server = 'SS-SQL-01'
database = 'Northwind'
username = 'B2024_SSelvar1'
password = 'Bazinga_02'

# Establishing the connection and reading data directly into DataFrame
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
query1='SELECT* FROM Orders'
df_Orders= pd.read_sql(query1,cnxn)
query2='SELECT* FROM Order_details'
df_Order_Details= pd.read_sql(query2,cnxn)

#final_join= pd.concat([df_Orders,df_Order_Details],ignore_index=True)
final_join = pd.merge(df_Orders, df_Order_Details, on="OrderID", how="inner")

print(final_join)
cnxn.close()

C:\Users\SivaPrakashSelvaraj\AppData\Local\Temp\ipykernel_6716\2863270071.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Orders= pd.read_sql(query1,cnxn)
C:\Users\SivaPrakashSelvaraj\AppData\Local\Temp\ipykernel_6716\2863270071.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Order_Details= pd.read_sql(query2,cnxn)

      OrderID CustomerID  EmployeeID  OrderDate RequiredDate ShippedDate  \
0       10248      VINET           5 1996-07-04   1996-08-01  1996-07-16
1       10248      VINET           5 1996-07-04   1996-08-01  1996-07-16
2       10248      VINET           5 1996-07-04   1996-08-01  1996-07-16
3       10249      TOMSP           6 1996-07-05   1996-08-16  1996-07-10
4       10249      TOMSP           6 1996-07-05   1996-08-16  1996-07-10
...       ...        ...         ...        ...          ...         ...
2150    11077      RATTC           1 1998-05-06   1998-06-03         NaT
2151    11077      RATTC           1 1998-05-06   1998-06-03         NaT
2152    11077      RATTC           1 1998-05-06   1998-06-03         NaT
2153    11077      RATTC           1 1998-05-06   1998-06-03         NaT
2154    11077      RATTC           1 1998-05-06   1998-06-03         NaT

      ShipVia  Freight                    ShipName         ShipAddress  \
0           3    32.38   Vins et alcools Chevalier  59 rue de l'Abbaye
1           3    32.38   Vins et alcools Chevalier  59 rue de l'Abbaye
2           3    32.38   Vins et alcools Chevalier  59 rue de l'Abbaye
3           1    11.61          Toms Spezialit채ten       Luisenstr. 48
4           1    11.61          Toms Spezialit채ten       Luisenstr. 48
...       ...      ...                         ...                 ...
2150        2     8.53  Rattlesnake Canyon Grocery     2817 Milton Dr.
2151        2     8.53  Rattlesnake Canyon Grocery     2817 Milton Dr.
2152        2     8.53  Rattlesnake Canyon Grocery     2817 Milton Dr.
2153        2     8.53  Rattlesnake Canyon Grocery     2817 Milton Dr.
2154        2     8.53  Rattlesnake Canyon Grocery     2817 Milton Dr.

         ShipCity ShipRegion ShipPostalCode ShipCountry  ProductID  UnitPrice  \
0           Reims       None          51100      France         11      14.00
1           Reims       None          51100      France         42       9.80
2           Reims       None          51100      France         72      34.80
3         M체nster       None          44087     Germany         14      18.60
4         M체nster       None          44087     Germany         51      42.40
...           ...        ...            ...         ...        ...        ...
2150  Albuquerque         NM          87110         USA         64      33.25
2151  Albuquerque         NM          87110         USA         66      17.00
2152  Albuquerque         NM          87110         USA         73      15.00
2153  Albuquerque         NM          87110         USA         75       7.75
2154  Albuquerque         NM          87110         USA         77      13.00

      Quantity  Discount
0           12      0.00
1           10      0.00
2            5      0.00
3            9      0.00
4           40      0.00
...        ...       ...
2150         2      0.03
2151         1      0.00
2152         2      0.01
2153         4      0.00
2154         2      0.00

[2155 rows x 18 columns]

In [ ]:
#4
import pandas as pd
import numpy as np

input_list = [9, 4, 4, 7, 1, 8, 4, 7, 3, 0, 2, 5, 7, 3, 7, 2, 6, 8, 4, 6, 7, 1, 3, 2]
sorted_unique_list = sorted(set(input_list))
lst = sorted_unique_list.copy()

for num in input_list:
    if lst.count(num) < input_list.count(num):
        lst.append(num)

print("Sorted List:",lst)

arr= np.array(lst).reshape(6,4)
print("Converted 6x4 array:",arr)

df=pd.DataFrame(arr,index=['a','b','c','d','e','f'],columns=['A','B','C','D'])
print("Data Frame with index 'a' to 'f' and column name 'A' to 'F' :")
print(df)

In [ ]:
#5
lst=[66,34,76,47,20,86,10,81,75,73,51,28,1,1,9,83,30,47,67,4]
arr=np.array(lst).reshape(5,4)
df=pd.DataFrame(arr,index=[0,1,2,3,4],columns=['a','b','c','d'])
print("Original Data Frame:")
print(df)

df['a_lag']= df['a'].shift(1)

df['d_lead']= df['d'].shift(-1)

print("Lead and Lag added Data Frames:")
print(df)

In [ ]:
#6
import datetime
df1= pd.read_csv('student_marks.csv')
#df1['DOB']=df1['DOB'].astype('datetime64[ns]')
#a
def calculate_age(dob):
    dob = datetime.datetime.strptime(dob, '%d-%m-%Y')
    today = datetime.datetime.today()
    return today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day))

df1['age'] = df1['DOB'].apply(calculate_age)
print(df1[['Name', 'DOB', 'age']])

#b
def calculate_average(row):
    subjects = ['Maths', 'Physics', 'Chemistry', 'English', 'Biology', 'Economics', 'History', 'Civics']
    marks = [row[subject] for subject in subjects if pd.notna(row[subject])]
    if marks:
        return sum(marks) / len(marks)
    else:
        return 0

def assign_grade(average):
    if average >= 90:
        return 'A'
    elif average >= 80:
        return 'B'
    elif average >= 70:
        return 'C'
    elif average >= 60:
        return 'D'
    else:
        return 'F'

df1['Average'] = df1.apply(calculate_average, axis=1)
df1['Grade'] = df1['Average'].apply(assign_grade)
print(df1)

#c
passed_students= df1[df1['Grade']<='D']
passed_students.to_csv('passed_students.csv',index=False)
print("\nFile Saved Successfully")